@model HNWebPortal.Models.SelectUserRolesViewModel

@{
    ViewBag.Title = "User Roles";
}

<div class="gray-content">
    <h2 class="green-header">Roles for user @Html.DisplayFor(model => model.UserName)</h2>

    @using (Html.BeginForm("UserRoles", "Account", FormMethod.Post, new { encType = "multipart/form-data", name = "myform" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true)
            <div class="form-group">
                <div class="col-md-10">
                    @Html.HiddenFor(model => model.UserName)
                </div>
            </div>

            <h4 style="padding-left:22px">Select Role Assignments</h4>
            <hr />

            <table style="margin-left:22px">

                <tr>
                    <th>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </th>
                    <th>
                        Role
                    </th>
                    <th>
                        Description
                    </th>
                </tr>

                @Html.EditorFor(model => model.Roles)
            </table>
            <br />

            <div class="form-group">
                <div class="col-md-offset-0 col-md-12" style="padding-left:47px">
                    <input type="submit" value="Save" class="btn btn-default" />&nbsp;
<button class="btn btn-default">@Html.ActionLink("Cancel", "Index", null, new { @style = "color:black; text-decoration:none" })</button>
                </div>
            </div>
        </div>
    }
    </div>
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

