@model IEnumerable<HospiceWebPortal.Models.Announcement>

@{
    ViewBag.Title = "Announcements";
}
<div class="row">
    <div class="col-md-4">
        <div id="sbar-action" class="gray-content">
            <h2 class="green-header">Action Required</h2>
            <p>
                <strong>RSVP to Hike For Hospice</strong><br>
                <a href="#">Yes</a> | <a href="#">No</a> | <a href="#">Maybe</a><br><br>
                <strong>RSVP to the 5 Car Draw</strong><br>
                <a href="#">Yes</a> | <a href="#">No</a> | <a href="#">Maybe</a>
            </p>
        </div>
        <div id="sbar-events" class="gray-content">
            <h2 class="green-header">Events</h2>
            <p>
                <b>June 26th, 2015</b> Swing Hard to Live Strong<br />
                Round of Golf with Cart, Lunch, Dinner, Hole Contests, Silent Auction and Much More!
            </p>
            <p>
                <b>May 3rd, 2015</b>Hike for Hospice Niagara<br />
                Collect Pledges and Join Us for a 5km Walk and Ceremony in Memory of Loved Ones.
            </p>
        </div>
        <div id="sbar-announcements" class="gray-content">
            <h2 class="green-header">Announcements</h2>
            <p style="text-align:left; padding: 0 15px 0 20px">
                
                @{int i = 0;}
                @foreach (var item in Model)
                {
                    if (i > 0)
                    {
                          <br><br>
                    }
                    <strong>@Html.DisplayFor(modelItem => item.Title)</strong><br />
                    @item.Content.Substring(0, Math.Min(item.Content.Length, 90))<a href="#"><br>see more...</a>
                    if (i > 2)
                    {
                        break;
                    }
                    i++;
                }
            </p>
</div>
        <div id="sbar-resources" class="gray-content">
            <h2 class="green-header">Common Resources</h2>
            <p>
                <a href="#">Health and Safety</a><br>
                <a href="#">Incident Report</a><br>
                <a href="#">Mileage & Expense</a><br>
                <a href="#">Volunteer Ticket Seller Information Sheet</a><br>
            </p>
        </div>
    </div>
    <div class="col-md-8">
        <div class="gray-content">
            <div class="green-header" style="margin-top:20px; font-size:1.8em;">
                Announcements 
                @if(User.IsInRole("Admin"))
                {
                    <b style="margin-top:-21px;" class="pull-right">@Html.ActionLink("+", "Create", null, new { @class = "plus-sign" })</b>
                }
            </div>
            <p style="margin-top: 10px;">
                Hospice Niagara provides services to individuals and families in St. Catharines, Niagara Falls, Pelham, Thorold, Wainfleet, Welland, Port Colborne, Fort Erie and Lincoln.  We also serve Niagara-on-the-Lake, in co-operation with the Niagara-on-the-Lake Community Palliative Care Service, and West Lincoln and Grimsby, in co-operation with McNally House Hospice and the Rose Cottage Visiting Volunteers.
            </p>
        </div>
        @*/////Get Articles//////*@
        @foreach (var item in Model)
        {
            <div class="gray-content">

                @*Article Title & Icons*@
                <div class="green-header">

                    @if(User.IsInRole("Admin"))
                    {
                        <a href="@Url.Action("Delete", new { id = item.ID })" style="font-size:1.65em; color:black; padding-left:5px; float:right;">
                            <i class="glyphicon glyphicon-trash"></i>
                            <span class="sr-only" style="text-align:right;">Delete</span>
                        </a>
                    }
                    <h2 style="display:inline;">@Html.DisplayFor(modelItem => item.Title)</h2>
                    
                    @if(User.IsInRole("Admin"))
                    {
                        <a href="@Url.Action("Edit", new { id = item.ID })" style="font-size:1.65em; color:black; float:right;">
                            <i class="glyphicon glyphicon-pencil"></i>
                            <span class="sr-only" style="text-align:right;">Edit</span>
                        </a>
                    }
                </div>

                @*Author Name*@
                <div class="col-md-6" style="text-align:left; padding-top:10px;">
                    <strong>
                        Created By:
                        @Html.DisplayFor(modelItem => item.Author)
                    </strong>
                </div>

                @*Date of Publication*@
                <div class="col-md-6" style="text-align:right;padding-top:10px;">
                    @Html.DisplayFor(modelItem => item.Created)
                </div><br><br>

                @*/////Article Content//////*@
                <div class="col-md-12">
                    <div style="white-space: pre-line">@Html.Raw(item.Content)</div>
                </div>
            </div>
        }
    </div>
</div>





